@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .contact-icon {
    @apply text-whiteboard 
    mx-2 
  hover:bg-whiteboard 
  hover:text-tinker 
    hover:p-1 
    hover:rounded-full 
    transition-all 
    ease-in-out 
    duration-200;
  }

  .social-icon {
    @apply bg-whiteboard 
    rounded-full 
    w-8 
    h-8 
    p-1 
  text-tinker 
  hover:bg-linter 
  hover:text-whiteboard 
    transition-all 
    ease-in-out 
    duration-200;
  }

  .iterator-section {
    @apply flex 
    flex-col 
    mt-4 
    hover:border-l-4 
  hover:border-tinker 
    hover:pl-4 
    transition-all 
    duration-200;
  }

  .skill-card {
    @apply relative 
    flex 
    flex-col 
    items-center 
    p-4 
    rounded-lg 
    hover:shadow-2xl 
  bg-gray-100 
  text-tinker 
    h-48 
  hover:bg-tinker 
  hover:text-whiteboard 
    transition-all 
    duration-200 
    ease-in-out;
  }

  .details-text {
    @apply ml-5 
    hover:pl-2 
    transition-all 
    duration-200 
    ease-in-out 
    hover:font-normal;
  }

  .project-card-bg {
    @apply m-0 
    p-0 
    z-10 
    rounded-lg 
  bg-gray-50 
    flex 
    flex-col 
    overflow-hidden 
    w-64 
    h-72 
    shadow-lg 
    relative;
  }

  .carousel-btn-back {
    @apply absolute
    rounded-l-lg
    pr-5
    z-20
    h-full
    left-0
    hover:bg-gradient-to-r
  hover:from-gray-400
    transition-all
    duration-200
    ease-in-out;
  }

  .carousel-left-caret {
    @apply text-3xl
    z-30
  text-tinker
  group-hover:text-charcoal
    group-hover:ml-2
    transition-all
    duration-200;
  }

  .carousel-btn-next {
    @apply absolute
    rounded-r-lg
    pl-5
    z-20
    h-full
    top-0
    right-0
    hover:bg-gradient-to-l
  hover:from-gray-400
    transition-all
    duration-200
    ease-in-out;
  }

  .carousel-right-caret {
    @apply text-3xl
    z-30
  text-tinker
  group-hover:text-charcoal
    group-hover:mr-2
    transition-all
    duration-200;
  }

  .course-card-bg {
    @apply m-0
    p-0
    z-10
    rounded-lg
  bg-gray-50
    flex
    flex-col
    overflow-hidden
    w-64
    h-72
    shadow-lg
    relative
    hover:shadow-2xl
    transition-all
    duration-200
    ease-in-out;
  }

  .achievement-card-bg {
    @apply flex
    mt-2
    items-center 
    text-xs 
    shadow-sm 
  bg-gray-50 
    rounded-lg 
    p-5 
  text-tinker 
  hover:bg-tinker 
  hover:text-whiteboard 
    hover:shadow-2xl 
    transition-all 
    duration-200;
  }

  .achievement-card-subtitle {
    @apply flex-grow 
    ml-2 
    font-light 
  text-charcoal 
  group-hover:text-whiteboard 
    transition-all 
    duration-200;
  }

  .hoverable-card {
    @apply flex
    gap-4
    mt-2
    items-center 
    text-xs 
    shadow-sm 
  bg-gray-50 
    rounded-lg 
    p-5 
  hover:bg-tinker 
    hover:shadow-2xl 
    transition-all 
    duration-200;
  }
}
